html {
    scrollbar-color: #007da0 black;
}

.figtree {
    font-family: "Figtree", sans-serif;
}

/* Animação do Background */
.bg-animated {
    background: linear-gradient(-45deg, #000000, #0a8ab5, #175e8b);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}